/*

.forecast {
	
}

.forecast .block {
	
}

.forecast .icon {}


*/


.weather-item {
	/*font-family: Helvetica;
	font-weight: bold;
	color: #b7b7b7;*/
	/*border-bottom: 1px solid #000;*/
	/*width: 5em;
	height: 2em;
	margin: auto;*/
	display: flex;
}

.block {
	width: 95vw;
	height: 8em;
	margin: auto;
	border-bottom: 1px solid #b7b7b7;
	margin-top: .75em;
	padding: 0;
}

li {
	list-style: none;
	/*display: inline-block;*/
}

.icon-block {
	display: inline-block;
}

.expanded .icon-block {
	height: 7em;
	width: 7em;
	/*padding: 1em;*/
	border-right: 1px solid #b7b7b7;
	margin: 0;
	float: left;
}

.info-block {
	display: none;
}

.expanded .info-block {
	display: block;
	float: left;
	padding: 0 1em;
}

.icon {
}

.expanded .cloud-icon:before {
	content: "\f0c2";
	font-family: "FontAwesome";
	font-size: 5em;
}

.expanded .clear-icon:before {
	content: "\f185";
	font-family: "FontAwesome";
	font-size: 5em;
	padding-bottom: .2em;
}

.expanded .rain-icon:before {
	content: "\f0e9";
	font-family: "FontAwesome";
	font-size: 5em;
}

/*.regular */.day {
	font-size: 2.5em;
	margin: .5em 0 .5em 2em;
	display: inline-block;
	/*float: */
}

.expanded .day {
	display: block;
	margin-top: .2em;
	font-size: 1em;
	margin: 0;
}

.expanded .hi,
.expanded .lo {
	display: inline-block;
	font-size: 3em;
	line-height: 1.5em;
}

.expanded .hi:after {
	content: "/";
}

.expanded .lo:after {
	content: "\00b0";
}

.expanded .desc,
.expanded .wind {
	font-size: 1.2em;
}

/*.desc {
	margin-top: 1em;
}*/

.expand {
	border: none;
	font-family: Helvetica;
	font-size: 4em;
	font-weight: bold;
	color: #b7b7b7;
	background-color: #fff;
	float: right;
	display: inline-block;
}

cf:after {
	content: "";
	clear: both;
	display: table;
}

button {
	outline: none;
}