/*

.forecast {
	
}

.forecast .block {
	
}

.forecast .icon {}


*/


.weather-item {
	/*font-family: Helvetica;
	font-weight: bold;
	color: #b7b7b7;*/
	/*border-bottom: 1px solid #000;*/
	/*width: 5em;
	height: 2em;
	margin: auto;*/
	/*display: flex;*/
}

input {
	margin: 1vh 0 0 2vw;
}

h3 {
	font-size: 3.75em;
	margin: 1vh 0 0 2vw;
}

.block {
	width: 95vw;
	/*height: 8em;*/
	margin: auto;
	border-bottom: 1px solid #fff;
	margin-top: .75em;
	padding: 0;
}

/*li {
	list-style: none;
	display: inline-block;
}*/

.icon-block {
	display: inline-block;
}

.expanded .icon-block {
	height: 7em;
	width: 7em;
	/*padding: 1em;*/
	border-right: 1px solid #fff;
	margin: 0;
	float: left;
}

.info-block {
	display: none;
}

.expanded .info-block {
	display: block;
	float: left;
	padding: 0 1em;
}

.icon {
	width: 2em;
	margin: 0;
	display: inline-block;
}

.cloud-icon:before {
	content: "\f0c2";
	font-family: "FontAwesome";
	font-size: 4em;
}
.clear-icon:before {
	content: "\f185";
	font-family: "FontAwesome";
	font-size: 4em;
}
.rain-icon:before {
	content: "\f0e9";
	font-family: "FontAwesome";
	font-size: 4em;
	padding-bottom: .2em;
}

/*-----EXPANDED-STATE-STYLES------*/

.expanded .block {
	height: 8em;
}

.expanded .cloud-icon:before {
	content: "\f0c2";
	font-family: "FontAwesome";
	font-size: 5em;
}

.expanded .clear-icon:before {
	content: "\f185";
	font-family: "FontAwesome";
	font-size: 5em;
	padding-bottom: .2em;
}

.expanded .rain-icon:before {
	content: "\f0e9";
	font-family: "FontAwesome";
	font-size: 5em;
}

/*.regular */.day {
	font-size: 2.5em;
	margin: .5em 0 .5em 2em;
	display: inline-block;
	font-weight: bold;
	/*float: */
}

.expanded .day {
	display: block;
	margin-top: .2em;
	font-size: 1.2em;
	margin: 0;
}

.expanded .hi,
.expanded .lo {
	display: inline-block;
	font-size: 3em;
	line-height: 1.5em;
	font-weight: bold;
}

.expanded .hi:after {
	content: "/";
}

.expanded .lo:after {
	content: "\00b0";
}

.expanded .desc,
.expanded .wind {
	font-size: 1.2em;
	font-weight: 100;
}

/*.desc {
	margin-top: 1em;
}*/

.expand {
	border: none;
	font-family: Helvetica;
	font-size: 4em;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	float: right;
	display: inline-block;
}

.cf:after {
	content: "";
	clear: both;
	display: table;
}

.arrow {
	display: none;
}

button {
	outline: none;
}

/*-------MEDIA-QUERIES-------*/

@media (min-width: 700px) {
	body {
		background: 
			linear-gradient(
		      rgba(255, 0, 0, 0.45), 
		      rgba(255, 0, 0, 0.45)
		    ),
		    url("../../assets/bkgrd_img.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
		margin: 0;
	}
	.app {
		display: flex;
		flex-wrap: wrap;
	}
	h3 {
		font-size: 3.75em;
		margin: 1vh 0 0 2vw;
	}
	.cf {
		width: inherit;
	}
	.set {
		display: inherit;
	}
	.weather-item /*.visible*/ {
		width: 20vw;
		/*flex-basis: auto;*/
		height: 60vh;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
		padding: 10px;
		margin: 10px;
		flex-grow: 1;
	}
	.block {
		border-bottom: none;
	}
	.expand {
		display: none;
	}
	.icon-block {
		height: 100px;
	}
	.cloud-icon:before {
		font-size: 6em;
		padding-left: .1em;
	}
	.clear-icon:before {
		font-size: 6em;
	}
	.rain-icon:before {
		font-size: 6em;
	}
	.day {
		display: block;
		margin: .2em 0 0 0;
		font-weight: bold;
	}
	.info-block {
		/*font-size: .75em;*/
		display: block;
		margin-top: 1.5em;
	}
	.desc,
	.wind {
		font-size: 1.2em;
		/*line-height: 1.5em;*/
	}
	.desc {
		font-weight: bold;
	}
	.hi,
	.lo {
		display: inline-block;
		font-size: 3em;
		font-weight: bold;
		line-height: 1.5em;
	}
	.hi:after {
		content: "/";
	}
	/*.hi:before {
		content: "";
		letter-spacing: .1em;
	}*/
	.lo:after {
		content: "\00b0";
	}

	.arrow {
		display: block;
	}
	.hidden {
		display: none;
	}

	.arrow-wrapper {
		display: inline-block;
		margin-left: 1.5em;
	}
	#forward-arrow {
		margin-top: .8em;
	}
	.fa {
		background-color: transparent;
		border: none;
		color: #fff;
		/*height: 7em;*/
		/*width: 7em;*/
		font-size: 7em;
		font-family: "FontAwesome";
	}
