* {
	box-sizing: border-box;
}

@font-face {
	font-family: "FontAwesome";
	src: url(../../assets/font-awesome/fontawesome-webfont.ttf);
}

body {
	font-family: Helvetica;
	/*font-weight: bold;*/
	color: #fff;
}